<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "projectx.jpg", class:"d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "banner2.jpg", class:"d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "banner3.jpg", class:"d-block w-100" %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container mt-4 mb-4">
<form>
  <input type="email"  id="exampleInputEmail1" aria-describedby="emailHelp">
  <button type="submit" class="btn btn-warning">Buscar</button>
</form>
</div>
