@import "bootstrap";
// @import "font-awesome";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 .navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}
.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.card{
  border-radius: 10px;
  border: 1px solid grey  ;
  width: 400px;
  overflow: hidden;

}

.icon-address{
  color: grey;
}
.address{
  color: grey;

}
.description{
  color: black;
  font-size: 25px;
}
.time_prim{
  font-size: 40px;
  color: black;
  margin-right: 3px;
  display: flex;
  align-items: start;
}

.fecha{
  display: flex;
  margin-right: 30px;
  color: black;

}
.month{
  display: flex;
  align-items: center;

}
.year{
  margin: 0;
}
.time{
  display:flex ;
}

.pipeline{
  font-size: 40px;
  color: grey;
  margin-right: 20px;
}

.image{
  width: 450px;
  height: 400px;
}

.event-start{
  display: flex;
 border-top: 1px solid grey;
 border-bottom: 1px solid grey;

 margin-bottom: 30px;
}

.border-derecho{
  border-right: 1px solid grey;
}

.icono-location{
  color: orange;
  font-size: 50px;
}

.direccion{
  color: orange;
}
body{
  background-color: #F2F2F2;
}

.video{
  background-color: white;
}

.info{
  color: black;
}
